* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Inter", sans-serif;
}

strong {
  font-size: 1.2rem;
  color: black;
  font-family: monospace;
}

.navbar {
  padding: 2rem 1rem 0 1rem;
}

.navbar-sub-heading {
  color: #666666;
  margin-top: 0.6rem;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: #ececec;
  margin: 1rem 0 2rem 0;
}

.container-centered {
  max-width: fit-content;
  margin: auto;
}

.input-container {
  display: flex;
  align-items: center;
}

.input-container label {
  color: #666;
  background-color: #fafafa;
  border: 1px solid #eaeaea;
  height: 42px;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.input-container input {
  border: 1px solid #eaeaea;
  height: 42px;
  width: 100%;
  padding: 0 1rem;
  outline: none;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  transition: all 0.3s ease;
  font-size: 1rem;
}

.input-container input:focus {
  border: 1px solid #888;
}

.user-input-container {
  max-width: 20rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.percentage-select-container {
  margin-bottom: 1rem;
  height: 42px;
  max-width: 20rem;
}

.percentage-select-container label {
  width: 100%;
}

.percentage-select {
  height: 42px;
  font-size: 1rem;
  border: 1px solid #eaeaea;
  transition: all 0.3s ease;
  background-color: transparent;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  padding: 0 0.5rem;
}

.percentage-select:focus {
  outline: none;
}

.calculate-btn {
  height: 42px;
  width: 100%;
  font-family: inherit;
  background-color: #000;
  color: #fff;
  border-radius: 3px;
  outline: none;
  border: none;
  font-size: 1rem;
  transition: all 0.2s ease;
}

.calculate-btn:hover {
  cursor: pointer;
  opacity: 0.89;
}

.output-text {
  color: #666666;
  text-align: center;
  font-size: 1rem;
  margin: 1rem;
}

.footer {
  display: flex;
  flex-direction: column;
  gap: 4px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  margin-bottom: 1rem;
  color: #666666;
}

.footer-link {
  color: #0070f3;
}

/* media query for less than 480px */
@media screen and (max-width: 480px) {
  .navbar-sub-heading {
    font-size: 0.95rem;
  }
}

/* for fixing footer pushed up issue on mobile screen */
@media screen and (max-width: 800px) {
  .hide-footer {
    display: none;
  }
}
